#root {
  max-width: 1280px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 2rem;
  color: #353535;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12pt;
}

a, button {
  cursor: pointer;
  color: #353535;
}

a {
  font-weight: 600;
  text-decoration: inherit;
}

button {
  font-family: inherit;
  background-color: transparent;
  border: none;
}

h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

nav a {
  color: #3C6E71;
  margin: 25px;
}

.logo-box {
  margin: 0 auto 20px 0;
}

.logo {
  border: 2px solid #3C6E71;
  border-radius: 0 0 25px 25px;
  padding: 13px 30px;
  width: 117px;
}

/* Categories (Sorting, Search & Filter) */
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D9D9D9;
  border-radius: 25px;
  font-size: 10pt;
  height: 23px;
}

.filter button {
  font-weight: 400;
  margin: 0 25px;
}

.filter button:hover {
  font-weight: 600;
}

.searchBar {
  margin-right: 23px;
}

.searchBar input {
  border-radius: 25px;
  border: none;
  padding-left: 15px;
  color: #353535;
}

.sort-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 14px;
}

h4, .sort {
  text-transform: uppercase;
  font-size: 8pt;
}

h4 {
  margin: 0;
  font-weight: 400;
}

.sort {
  border-style: none;
  font-weight: 600;
  color: #3C6E71;
  width: 138px;
}

form {
  display: flex;
  flex-direction: column;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 100px;
  padding: 0;
}

.product {
  width: 200px;
  margin: 30px 20px;
}

.product img {
  height: 100px;
}

.product h2, .productDetails h2 {
  font-size: 12pt;
  font-weight: 600;
}

/* Product (Single) */
.productView {
  display: flex;
  margin: 100px 200px;
  text-align: left;
}

.productView img {
  width: 300px;
}

.productDetails {
  margin-left: 50px;
  width: 600px;
}

.productDetails button {
  display: block;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 12pt;
}

.details {
  display: flex;
  margin: 20px 20px 0 0;
}

.details h3, .details p {
  font-weight: 400;
  font-size: 11pt;
  margin-right: 20px;
}

.subDetails {
  display: flex;
  margin-top: 10px;
}

.subDetails h3 {
  background-color:#D9D9D9;
  border-radius: 25px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 8pt;
}

.productDetails button, .registration button, .login button {
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background-color: #284B63;
  color: #ffffff;
}

.productDetails button {
  margin-top: 25px;
}

.return {
  font-weight: 400;
  font-size: 8pt;
  text-transform: uppercase;
}

/* Registration and Login */

.registration, .login {
  text-align: left;
  width: 372px;
  margin: auto;
}

.registration form, .login form {
  margin-top: 20px;
}

.registration label, .login label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.registration input, .login input {
  font-family: inherit;
  font-size: 14px;
  height: 25px;
  border: none;
  background-color: #D9D9D9;
  margin: 10px 0 15px 0;
  padding-left: 10px;
}

.registration button, .login button {
  margin-top: 10px;
}