/* main.jsx */
#root {
  max-width: 1280px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 2rem;
  color: #353535;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  font-size: 11pt;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: inherit;
  color: #353535;
}

button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #284B63;
  color: #ffffff;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
}

p {
  margin-top: 50px;
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  font-weight: 500;
  color: #284B63;
  margin: 0 25px;
}

/* Keeps logo on left, nav links on right */
.logo-box {
  margin-right: auto;
}

.logo {
  display: block;
  border: 2px solid #3C6E71;
  border-radius: 0 0 25px 25px;
  padding: 13px 30px;
  margin: 0;
}

/* Filters (includes Search and Sort) */
.filters {
  display: flex;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 11pt;
  font-weight: 500;
}

.filters a {
  padding: 10px 25px;
}

.sub-filters {
  display: flex;
  justify-content: flex-end;
  margin-top: 2px;
}

.search, .search input {
  border-radius: 25px;
  border: none;
}

.search input {
  padding-left: 23px;
  color: #353535;
}

.sort {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 5px;
}

.search input::placeholder {
  color: #D9D9D9;
  font-weight: 500;
  font-style: italic;
}

h4, select {
  text-transform: uppercase;
  font-size: 8pt;
}

h4 {
  margin: 0;
  font-weight: 400;
}

select {
  font-style: inherit;
  width: 50px;
  border-style: none;
  font-weight: 600;
  color: #3C6E71;
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  padding: 0;
}

.product {
  width: 200px;
  margin: 30px 20px;
}

.product img {
  height: 100px;
}

.product h2, .productDetails h2 {
  font-size: 11pt; 
  font-weight: 600;
}

/* Product Details */
.productView {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.productView img {
  width: 400px;
}

.productDetails {
  text-align: left;
  margin-left: 50px;
  width: 600px;
}

.productDetails p, .summary p {
  margin: 0;
}

.productDetails button {
  display: block;
  font-weight: 600;
  margin: 25px 0 20px 0;
  font-size: 12pt;
}

.productDetails button, .registration button, .login button, .summary button, .account button, .checkout button {
  font-size: 14px;
}

.subDetails {
  display: flex;
  margin-top: 10px;
}

.subDetails h3 {
  background-color:#D9D9D9;
  border-radius: 25px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 8pt;
}

.details {
  display: flex;
  margin: 20px 0;
}

.details h3, .details p, .summary h3 {
  font-weight: 400;
  font-size: 11pt;
  margin-right: 20px;
}

.return {
  font-weight: 400;
  font-size: 8pt;
  text-transform: uppercase;
}

/* Registration and Login */

.registration, .login, .checkout {
  text-align: left;
  width: 372px;
  margin: 50px auto;
}

.registration h2, .login h2, .checkout h2 {
  font-size: 18px;
}

.registration form, .login form, .checkout form {
  margin-top: 20px;
}

.registration label, .login label, .checkout label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
}

.registration input, .login input, .checkout input {
  font-family: inherit;
  font-size: 14px;
  height: 25px;
  border: none;
  background-color: #D9D9D9;
  color: #353535;
  margin: 10px 0 15px 0;
  padding-left: 10px;
}

.registration button, .login button, .account button {
  margin-top: 10px;
  font-weight: 500; 
}

.response {
  margin-top: 20px;
  text-align: center;
}

/* Account */
.container {
  display: flex;
  text-align: left;
}

.account, .orders {
  flex-direction: column;
  border: 1px solid #D9D9D9;
  padding: 25px;
  margin: 50px auto;
}

.account {
  width: 375px;
}

.orders {
  width: 700px;
}

.account h2, .orders h2 {
  font-size: 18px;
  margin-bottom: 25px;
}

.account h3 {
  font-size: 14px;
  font-weight: 500;
}

.account p {
  border: 1px solid #D9D9D9;
  margin: 10px 0 15px 0;
  padding: 5px 0 5px 10px;
  font-size: 11pt;
  color: #353535;
}

/* Cart */
.cartItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 50px;
}

.itemInCart {
  display: flex;
  padding: 20px;
}

.itemInCart img {
  width: 200px;
  height: 100%;
}

.quantity {
  display: flex;
}

.quantity p {
  width: 50px;
  text-align: center;
  margin: 0;
}

.quantity button {
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.removeCartItem button{
  background-color: transparent;
  color: #D9D9D9;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 20px;
}

.summary {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D9D9D9;
  margin: 50px;
}

.sumTotals {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.sumTotals p {
  font-weight: 600;
  width: 100px;
}

.summary button {
  margin-top: 20px;
}
